@model MyBlog.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostCategory.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCategory.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortIntro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortIntro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlExtension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrlExtension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentsEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentsEnabled)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
